<a href="/dashboard" class="go-back btn btn-primary"> &larr; Back to dashboard</a>

<article class="new-page">
    <section class="edit-form-page">
        <div class="form-heading">
            <h2>
                Edit Post
            </h2>
        </div>
        <div class="form-section container">
            <form class="edit-post-form p-3 text-info-emphasis bg-info-subtle border border-info-subtle rounded-3">
                <div class="post-title-section mb-3">
                    <label for="post-title" class="form-label">Title</label>
                    <input type="text" name="post-title" class="form-control" id="post-title" value="{{post.title}}" />
                </div>
                <div class="post-content mb-3">
                    <label for="post-text" class="form-label">Content</label>
                    <textarea class="entry-field" class="form-control" id="post-text" name="post-text">{{post.post_text}}</textarea>
                </div>
                <div class="posted mb-3">
                    Posted by you on {{formatDate post.created_at}}
                    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
                </div>
                <button class="btn btn-primary" type="submit">Update post</button>
                {{!-- <button class="btn btn-primary" type="button" class="delete-post-btn">Delete post</button> --}}
                <button type="button" class="delete-post-btn">Delete post</button>
            </form>
        </div>
    </section>
</article>

<form class="comment-form container p-3 text-info-emphasis bg-warning-subtle border border-info-subtle rounded-3">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comments.js"></script>
{{/if}}